/*This is the css to style my portal for DES157. Assignment "studio1"*/

body{
	background-color: #201d48;
	color: #eb596f;
	margin: auto;
	width: 60%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

section{
	margin: auto;
	float:left;
	width: 100%;
	min-width: 800px;
}

header{
	/*background-color: #fff*/

	margin: auto;
	width:800px;
	height: 250px;
}

h2{
	text-align: center;
	color: #bd9f22;
	margin: 30px 0px 0px 20px;

}

div{
	float: left;
	margin: 50px 15px 50px 35px;
	padding: 0px 0px 0px 0px;
	/*background-color: #000;*/

}


footer{
/*background-color:#00f;*/
	position: static;
	bottom: 50px;
	text-align: center;
	margin: 20px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
}

a{
	color:#c4c0ff;
	text-decoration: none;

}

a:link{
	color:#c4c0ff;
	text-decoration: none;
}

a:hover{
	color:#1bbf3c;
}
