body{
	background-color: #130848;
	color:#2b0dbf;
	margin: auto;
	width: 50%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

section{

}

header{

}

section{
}

h2{
	color:#c4b125;
}

div{
	float: left;
	margin: 0 8px 0px 0px;
}


footer{
	display: inline;
	text-align: center;

}
